## Uses .gitignore syntax and should mostly match that file
## so that we don't format what never ends up in SCM.

/_agstate/yarn-links/
/_agstate/agoric-wallet
/_agstate/keys
/results/*
/_agstate/agoric-servers/solo
/_agstate/agoric-servers/dev
/_agstate/agoric-servers/testnet-*
/_agstate/agoric-servers/chain
/_agstate/agoric-servers/ve*
/_agstate/agoric-servers/local-*
/.yarn